APP_ENV=production
APP_DEBUG=false
PAYSTACK_SECRET_KEY=
FLUTTERWAVE_SECRET_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_ENCRYPTION=ssl
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_MAILER=smtp
MAIL_FROM=
MAIL_FROM_NAME=Bolakaz
MAIL_CONTACT_TO=
APP_URL=
STOREFRONT_V2_ENABLED=1
STOREFRONT_V2_GROUPS=home,shop_detail,cart_checkout,remaining
